@using IdentityTest.Web.ViewModels
@model IdentityTest.Web.ViewModels.UserRoleViewModel
@{
	ViewData["Title"] = "UPDATE Role";
}

<h1 class="bg-info text-white">Assign User</h1>
<a asp-controller="Users" asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table table-sm table-bordered table-bordered">
    <tr><th>Email</th><th>Current Roles</th><th>Delete</th></tr>
	<tr>
		<td><label> @Model.UserEmail </label></td>
		<td>
			@foreach (var roles in Model.currentRoles)
			{
				@roles
			}
		</td>
		<td>
			<form asp-action="RemoveRole" method="post">
				<button type="submit" class="btn btn-sm btn-danger">Remove Role</button>
			</form>
		</td>
	</tr>	
</table>

<div>
	<form asp-action="EditUserRoles" method="post">
		<select asp-for ="RoleId" class="form-select" aria-label="Roles">
			<option selected>Choose a Role</option>
			@foreach (RolesDTO roleNames in Model.RoleList)
			{
				<option value="@roleNames.Id">@roleNames.Name</option>
			}
		</select>
		<div>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>		
	</form>
</div>


