@model IdentityTest.Web.ViewModels.ConfirmRoleToDelete;
<h1 class="bg-info text-white">Remove user role</h1>

@{
    ViewData["Title"] = "Confirm Remove User Role";
}


<h1 class="bg-info text-white">Confirm remove</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="RoleDelete" asp-route-id="@Model.RoleId" method="post">

    <div class="form-group">
        <label asp-for="RoleName"> @Model.RoleName</label>
    </div>
    <button type="submit" class="btn btn-danger">Confirm Remove</button>
</form>