@using Microsoft.AspNetCore.Identity
@model IdentityRole;
@{
	ViewData["Title"] = "UPDATE Role";
}

<h1 class="bg-info text-white">Update User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>

@if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}


<form asp-action="Update" method="post">
	<div class="form-group">
		<label asp-for="Id">@Model.Id</label>
	</div>
	<div class="form-group">
		<label asp-for="Name">Role Name</label>
		<input asp-for="Name" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>