@model IdentityTest.Web.ViewModels.CreateClaimViewModel;
@{
    ViewData["Title"] = "CREATE CLAIM";
}

<h1 class="bg-info text-white">Create Claim</h1>
<a asp-action="Index" asp-route-id="@Model.UserId" class="btn btn-secondary">Back</a>

<div class="alert alert-danger">
    <p>@ViewBag.ErrorMessage</p>
</div>

<form method="post">
    <div class="form-group">
        <label  asp-for="ClaimType">Claim Type:</label>
        <input  asp-for="ClaimType" name="ClaimType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ClaimValue">Claim Value:</label>
        <input asp-for="ClaimValue" name="ClaimValue" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>