
@model IdentityTest.Web.ViewModels.ChangePasswordViewModel;
@{
	ViewData["Title"] = "Change Password";
}

<h1 class="bg-info text-white">Change Password</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>

<form asp-action="ChangePassword" method="post">
	<div class="form-group">
		<label asp-for="UserId"></label>
		<input asp-for="UserId" class="form-control" disabled />
		
	</div>
	<div class="form-group">
		<label for="Password">Password</label>
		<input  type = "password" name="Password" class="form-control" />
	</div>

	<div class="form-group">
		<label for="PasswordConfirm">confirm password</label>
		<input type="password" name="ConfirmPassword" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>