@using Microsoft.AspNetCore.Identity;
@model IEnumerable<ApplicationUser>
@{
	ViewData["Title"] = "Acounts";
}
<h1 class="bg-info text-white">All Users</h1>
<a asp-action="Register" class="btn btn-secondary">Register a User</a>

<table class="table table-sm table-bordered">
	<tr>
		<th>ID</th>
		<th>Email</th>
		<th>See User Info</th>
	</tr>
	@foreach (ApplicationUser user in Model)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.Email</td>
			<td>
				<a class="btn btn-sm btn-primary" asp-action="UserIndex" asp-route-id="@user.Id">
					See info
				</a>
			</td>
		</tr>
	}
</table>